@import 'variables';
.agendum-calendar {
	a {
		color: white;
	}
	&.fc {
		font-size: 12px;
		font-weight: 700;
		min-height: 350px;
		position: relative;
		z-index: 0;
		@media (min-width: $breakpoint-sm-min) {
			height: 100%;
			max-height: 800px;
		}
		td,
		th,
		.fc-day {
			border: none;
		}
		.fc-day {
			border-bottom: 2px solid $dark-page;
			transition: background 0.1s ease;
			&:not(.fc-day-disabled):not(.fc-popover) {
				border-radius: $generic-border-radius;
			}
			&.fc-day-today {
				border-radius: $generic-border-radius;
			}
		}
		.fc-view-harness {
			min-height: 350px;
		}
		.fc-popover-header {
			background: var(--fc-page-bg-color);
			border-radius: $generic-border-radius $generic-border-radius 0 0;
		}
		.fc-popover {
			border-radius: $generic-border-radius;
		}
		.fc-toolbar {
			flex-wrap: wrap;
			text-align: center;
			@media (max-width: 475px) {
				> div {
					&:nth-child(1) {
						order: 2;
					}
					&:nth-child(2) {
						order: 1;
						width: 100%;
					}
					&:nth-child(3) {
						order: 3;
					}
				}
			}
			.fc-toolbar-title {
				line-height: $body-line-height;
				margin: 0.75rem 0;
			}
		}
	}
}
